.show-menu-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #ff6347;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.show-menu-btn:hover {
    background-color: #e5533d;
}


.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.menu-card {
    width: 300px;
    border-radius: 5px;
    overflow: hidden;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    margin-bottom: 100px;
    box-shadow: 10px 14px 18px rgba(0, 100, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.menu-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.menu-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.menu-card .details {
    padding: 10px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}


#addtocart{
    display: block;
    margin: 20px 10px;
    padding: 10px 20px;
    background-color: #e5533d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#addtocart:hover{
    background-color:#ff6347 ;
}